@{
  Layout = "_Layout";
}

<h1>Welcome to the Library!</h1>
<p>@Html.ActionLink("See all books", "Index", "Books")</p>
<p>@Html.ActionLink("See the books you have checked out", "Index", "Checkouts")</p>

@if (User.Identity.IsAuthenticated)
{
  @using (Html.BeginForm("LogOff", "Account"))
  {
      <input type="submit" class="btn btn-default" value="Log out" />
  }
}
else
{
  <p>@Html.ActionLink("Log in/Register Account", "Index", "Account")</p>
}